<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sky.androidnotes">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.sky.androidnotes.aidl.book.ACCESS_BOOK_MANAGER_SERVICE"/>
    <uses-permission android:name="com.sky.androidnotes.ACCESS_BOOK_PROVIDER"/>

    <permission
            android:name="com.sky.androidnotes.aidl.book.ACCESS_BOOK_MANAGER_SERVICE"
            android:protectionLevel="normal"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".view.recyclerview.TestActivity">
        </activity>
        <activity android:name=".refreshLayout.RefreshActivity">
        </activity>
        <activity
                android:name=".design.ScrollingActivity"
                android:label="@string/title_activity_scrolling"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
                android:name=".aidl.MyService"
                android:enabled="false"
                android:exported="false">
        </service>

        <activity android:name=".fresco.FrescoActivity">
        </activity>

        <service android:name=".service.LocalService">
            <intent-filter>
                <action android:name="com.sky.intent.action.LOCAL_SERVICE"/>
            </intent-filter>
        </service>
        <service
                android:name=".service.RemoteService"
                android:exported="true"
                android:process=":guardService">
            <intent-filter>
                <action android:name="com.sky.intent.action.REMOTE_SERVICE"/>
            </intent-filter>
        </service>

        <activity android:name=".service.ServiceTestActivity">
        </activity>

        <receiver
                android:name=".service.MyReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.sky.intent.action.TEST"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <activity android:name=".customview.CustomViewActivity">
        </activity>
        <activity android:name=".https.HttpsActivity">
        </activity>

        <service android:name=".https.MyService">
        </service>
        <service
                android:name=".aidl.book.BookManagerService"
                android:enabled="true"
                android:process=":bookManagerService"/>

        <activity android:name=".aidl.book.BookManagerActivity">
        </activity>

        <provider
                android:name=".aidl.book.BookProvider"
                android:authorities="com.sky.androidnotes.aidl.book.BOOK_PROVIDER"
                android:permission="com.sky.androidnotes.ACCESS_BOOK_PROVIDER"
                android:process=":bookProvider"/>

        <activity android:name=".aidl.book.BookProviderActivity">
        </activity>

        <service
                android:name=".aidl.socket.TCPServerService"
                android:process=":tcpService">
        </service>

        <activity android:name=".aidl.socket.TCPClientActivity">

        </activity>

        <service
                android:name=".aidl.binderpool.BinderPoolService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".aidl.binderpool.BinderPoolActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>